#pane {
    --fx-background-image: url("2.jpg");
}

.anchor {
    -fx-background-image: url("2.jpg");
}

.button {
    -fx-background-color: linear-gradient(to left, #243949 0%, #517fa4 100%);
    -fx-background-radius:20;
    -fx-border-radius:20;
    -fx-background-insets: 0;
}

.button:hover{
     -fx-background-color:#243949;
}

.button:focused{
    -fx-border-width: 3px;
    -fx-border-color: #DBC6B6;
}
