#pane {
    --fx-background-image: url("1.jpg");
}

.anchor {
    -fx-background-image: url("2.jpg");
}

.button {
    -fx-background-color:linear-gradient(to right,#58A0E8,#0030B0);;
    -fx-background-radius:20;
    -fx-border-radius:20;
    -fx-background-insets: 5;
}

.button:hover{
     -fx-background-color:#0030B0;
}